<div class="container theme-showcase">
  <div class="jumbotron">
    <h1>かねかん</h1>
    <p>みんなお金は大切に</p>
    <p> <%=  link_to 'イベント見るよ',{controller: :events , action: :index}  ,class: :"btn btn-warning btn-lg" %></p>
    <p><a class="btn btn-success btn-lg">清算するよ</a></p>
  </div>
</div>
