<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><strong>SUL</strong> 〜 Settle Up Later 〜</a>
    </div>
  </div>
</div>

<div class="container theme-showcase">
  <div class="jumbotron">
    <h1>かねかん</h1>
    <p>みんなお金は大切に</p>
    <p><a class="btn btn-warning btn-lg">イベント見るよ</a></p>
    <p><a class="btn btn-success btn-lg">清算するよ</a></p>
  </div>
</div>
