<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="#"></a>
      <%=  link_to  url_for(controller: :top , action: :index)  , class: :'navbar-brand' do %>
       <strong>SUL</strong> 〜 Settle Up Later 〜 
       <% end %>
  </div>
</div>
